{% extends 'adminLayout.twig'%}
{% set username = username %}
{% set pageTitle = 'Immo - Vastgoed toevoegen' %}
{% block pageContent%}

    
        <h2>Vastgoed toevoegen</h2>
        <ul class="breadcrumb">
            <li><a href="{{ app.url_generator.generate('adm.browse') }}">Overzicht</a> <span class="divider">/</span></li>
            <li class="active">Vastgoed Toevoegen</li>
        </ul>
        {% form_theme addForm with 'form_errors.twig' %}
        <form id="addForm" class="form-horizontal" action="#" method="post" {{ form_enctype(addForm) }}>
            <div class="tabs">
            <ul id="myTab" class="nav nav-tabs">
              <li class="active"><a href="#1" data-toggle="tab">Locatie</a></li>
              <li class=""><a href="#2" data-toggle="tab">Informatie</a></li>
              <li class=""><a href="#3" data-toggle="tab">Aanbod</a></li>
              <li class=""><a href="#4" data-toggle="tab">beschrijving</a></li>
              <li class=""><a href="#5" data-toggle="tab">Afbeeldingen</a></li>
              <li class=""><a href="#6" data-toggle="tab">Toevoegen</a></li>
            </ul>
            <div id="myTabContent" class="tab-content">
              <div class="tab-pane fade active in" id="1">
                <fieldset>
                    <legend>Locatie:</legend>
                    <div class="control-group">
                        {{ form_label(addForm.plaats, null, {'label_attr': {'class': 'control-label'}}) }} 
                        
                        <div class="controls">
                            {{ form_widget(addForm.plaats,{ 'attr': {'placeholder': 'Plaats'} }) }}
                            {{ form_errors(addForm.plaats) }}
                        </div>
                    </div>
                    <div class="control-group">
                        {{ form_label(addForm.provincie, null, {'label_attr': {'class': 'control-label'}}) }} 
                        
                        <div class="controls">
                            {{ form_widget(addForm.provincie) }}
                            {{ form_errors(addForm.provincie) }}
                        </div>
                    </div>
                    <div class="control-group">
                        {{ form_label(addForm.straat, null, {'label_attr': {'class': 'control-label'}}) }} 
                        
                        <div class="controls">
                            {{ form_widget(addForm.straat,{ 'attr': {'placeholder': 'Straat + nr'} }) }}
                            {{ form_errors(addForm.straat) }}
                        </div>
                    </div>
                    <ul class="pager">
                        <li><a class="next" href="#">Next</a></li>
                    </ul>
                </fieldset>
              </div>
              <div class="tab-pane fade " id="2">
                <fieldset>
                    <legend>Informatie:</legend>
                    <div class="control-group">
                        {{ form_label(addForm.vastgoed_type, null, {'label_attr': {'class': 'control-label'}}) }} 
                        
                        <div class="controls">
                            {{ form_widget(addForm.vastgoed_type) }}
                            {{ form_errors(addForm.vastgoed_type) }}
                        </div>
                    </div>
                    <div id="woningen">
                        <div class="control-group">
                            {{ form_label(addForm.bebouwing_type, null, {'label_attr': {'class': 'control-label'}}) }} 

                            <div class="controls">
                                {{ form_widget(addForm.bebouwing_type) }}
                                {{ form_errors(addForm.bebouwing_type) }}
                            </div>
                        </div>
                        <div class="control-group">
                            {{ form_label(addForm.aantal_slaapkamers, null, {'label_attr': {'class': 'control-label'}}) }} 

                            <div class="controls">
                                {{ form_widget(addForm.aantal_slaapkamers) }}
                                {{ form_errors(addForm.aantal_slaapkamers) }}
                        </div>
                        </div>
                        <div class="control-group">
                            {{ form_label(addForm.aantal_kamers, null, {'label_attr': {'class': 'control-label'}}) }} 

                            <div class="controls">
                                {{ form_widget(addForm.aantal_kamers) }}
                                {{ form_errors(addForm.aantal_kamers) }}
                            </div>
                        </div>
                        <div class="control-group">
                            {{ form_label(addForm.bouwjaar, null, {'label_attr': {'class': 'control-label'}}) }} 

                            <div class="controls">
                                {{ form_widget(addForm.bouwjaar) }}
                                {{ form_errors(addForm.bouwjaar) }}
                            </div>
                        </div>
                        <div class="control-group">
                            {{ form_label(addForm.garage, null, {'label_attr': {'class': 'control-label'}}) }} 

                            <div class="controls">
                                {{ form_widget(addForm.garage) }}
                                {{ form_errors(addForm.garage) }}
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        {{ form_label(addForm.oppervlakte, null, {'label_attr': {'class': 'control-label'}}) }} 
                        
                        <div class="controls">
                            {{ form_widget(addForm.oppervlakte,{ 'attr': {'placeholder': 'Oppervlakte'} }) }}
                            {{ form_errors(addForm.oppervlakte) }}
                        </div>
                    </div>
                    <ul class="pager">
                        <li><a class="prev" href="#">Previous</a></li>
                        <li><a class="next" href="#">Next</a></li>
                    </ul>
                </fieldset>
              </div>
              <div class="tab-pane fade" id="3">
                <fieldset>
                    <legend>Aanbod:</legend>
                    <div class="control-group">
                        {{ form_label(addForm.status_vastgoed, null, {'label_attr': {'class': 'control-label'}}) }} 

                        <div class="controls">
                            {{ form_widget(addForm.status_vastgoed) }}
                            {{ form_errors(addForm.status_vastgoed) }}
                        </div>
                    </div>
                    <div class="control-group">
                        {{ form_label(addForm.prijs, null, {'label_attr': {'class': 'control-label'}}) }} 

                        <div class="controls">
                            {{ form_widget(addForm.prijs,{ 'attr': {'placeholder': 'Prijs'} }) }}
                            {{ form_errors(addForm.prijs) }}
                        </div>
                    </div>
                    <ul class="pager">
                        <li><a class="prev" href="#">Previous</a></li>
                        <li><a class="next" href="#">Next</a></li>
                    </ul>
                </fieldset>                      
              </div>
              <div class="tab-pane fade" id="4">
                <fieldset>
                    <legend>Beschrijving:</legend>
                    
                    {{ form_widget(addForm.beschrijving,{ 'attr': { 'class': 'tinymce' } }) }}
                    {{ form_errors(addForm.beschrijving) }}

                    <ul class="pager">
                        <li><a class="prev" href="#">Previous</a></li>
                        <li><a class="next" href="#">Next</a></li>
                    </ul>
                </fieldset>
            </div>
                <div class="tab-pane fade" id="5">
                <fieldset>
                    <legend>Afbeeldingen:</legend>
                    <h5>Afbeeldingen Toevoegen</h5>
                    <p class="muted">Enkel *.jpg files</p>
                    <input name="filesToUpload[]" id="filesToUpload" accept="image/jpeg" type="file" multiple="" />
                        
                    <ul class="pager">
                        <li><a class="prev" href="#">Previous</a></li>
                        <li><a class="next" href="#">Next</a></li>
                    </ul>
                    {{ form_widget(addForm._token) }}
                </fieldset>
              </div>
                    <div class="tab-pane fade" id="6">
                <fieldset>
                    <legend>Toevoegen:</legend>
                    <div class="saveButtons">
                        <button type="submit" name="Save" class="btn btn-large btn-success">
                            <i class="icon-white icon-ok"></i> Vastgoed Toevoegen
                        </button>
                        <a href="{{ app.url_generator.generate('adm.browse') }}" class="btn btn-danger">
                            <i class="icon-white icon-remove"></i> Annuleren
                        </a>
                    </div>
                    <ul class="pager">
                        <li><a class="prev" href="#">Previous</a></li>
                    </ul>
                </fieldset>
              </div>
            </div>
            </div>
        </form>
{% endblock %}
