{% extends 'adminLayout.twig'%}
{% set username = username %}
{% set pageTitle = 'Immo - Vastgoed Aanpassen' %}
{% block pageContent%}

    
        <h2>Vastgoed Aanpassen</h2>
        <ul class="breadcrumb">
            <li><a href="{{ app.url_generator.generate('adm.browse') }}">Overzicht</a> <span class="divider">/</span></li>
            <li class="active">Vastgoed aanpassen</li>
        </ul>
        {% form_theme editForm with 'form_errors.twig' %}
        <form id="editForm" class="form-horizontal" action="#" method="post" {{ form_enctype(editForm) }}> 
            
            
            <div class="tabs">
                <div class="saveButtons">
                <button type="submit" name="submit" class="btn btn-large btn-success">
                    <i class="icon-white icon-ok"></i> Aanpassingen opslaan
                </button>
                <a href="{{ app.url_generator.generate('adm.browse') }}" class="btn btn-danger">
                    <i class="icon-white icon-remove"></i> Annuleren
                </a>
                <p class="muted text-center">*Velden in het rood zijn verplicht</p>
            </div>
            <ul id="myTab" class="nav nav-tabs">
              <li class="active"><a href="#1" data-toggle="tab">Locatie</a></li>
              <li class=""><a href="#2" data-toggle="tab">Informatie</a></li>
              <li class=""><a href="#3" data-toggle="tab">Aanbod</a></li>
              <li class=""><a href="#4" data-toggle="tab">Beschrijving</a></li>
              <li class=""><a href="#5" data-toggle="tab">Afbeeldingen</a></li>
            </ul>
            <div id="myTabContent" class="tab-content">
              <div class="tab-pane fade active in" id="1">
                <fieldset>
                    <legend>Locatie:</legend>
                    <div class="control-group">
                        {{ form_label(editForm.plaats, null, {'label_attr': {'class': 'control-label'}}) }} 
                        
                        <div class="controls">
                            {{ form_widget(editForm.plaats,{ 'attr': {'placeholder': 'Plaats'} }) }}
                            {{ form_errors(editForm.plaats) }}
                        </div>
                    </div>
                    <div class="control-group">
                        {{ form_label(editForm.provincie, null, {'label_attr': {'class': 'control-label'}}) }} 
                        
                        <div class="controls">
                            {{ form_widget(editForm.provincie) }}
                            {{ form_errors(editForm.provincie) }}
                        </div>
                    </div>
                    <div class="control-group">
                        {{ form_label(editForm.straat, null, {'label_attr': {'class': 'control-label'}}) }} 
                        
                        <div class="controls">
                            {{ form_widget(editForm.straat,{ 'attr': {'placeholder': 'Straat + nr'} }) }}
                            {{ form_errors(editForm.straat) }}
                        </div>
                    </div>
                    <ul class="pager">
                        <li><a class="next" href="#">Next</a></li>
                    </ul>
                </fieldset>
              </div>
              <div class="tab-pane fade " id="2">
                <fieldset>
                    <legend>Informatie:</legend>
                    <div class="control-group">
                        {{ form_label(editForm.vastgoed_type, null, {'label_attr': {'class': 'control-label'}}) }} 
                        
                        <div class="controls">
                            {{ form_widget(editForm.vastgoed_type) }}
                            {{ form_errors(editForm.vastgoed_type) }}
                        </div>
                    </div>
                    <div id="woningen">
                        <div class="control-group">
                            {{ form_label(editForm.bebouwing_type, null, {'label_attr': {'class': 'control-label'}}) }} 

                            <div class="controls">
                                {{ form_widget(editForm.bebouwing_type) }}
                                {{ form_errors(editForm.bebouwing_type) }}
                            </div>
                        </div>
                        <div class="control-group">
                            {{ form_label(editForm.aantal_slaapkamers, null, {'label_attr': {'class': 'control-label'}}) }} 

                            <div class="controls">
                                {{ form_widget(editForm.aantal_slaapkamers) }}
                                {{ form_errors(editForm.aantal_slaapkamers) }}
                        </div>
                        </div>
                        <div class="control-group">
                            {{ form_label(editForm.aantal_kamers, null, {'label_attr': {'class': 'control-label'}}) }} 

                            <div class="controls">
                                {{ form_widget(editForm.aantal_kamers) }}
                                {{ form_errors(editForm.aantal_kamers) }}
                            </div>
                        </div>
                        <div class="control-group">
                            {{ form_label(editForm.bouwjaar, null, {'label_attr': {'class': 'control-label'}}) }} 

                            <div class="controls">
                                {{ form_widget(editForm.bouwjaar) }}
                                {{ form_errors(editForm.bouwjaar) }}
                            </div>
                        </div>
                        <div class="control-group">
                            {{ form_label(editForm.garage, null, {'label_attr': {'class': 'control-label'}}) }} 

                            <div class="controls">
                                {{ form_widget(editForm.garage) }}
                                {{ form_errors(editForm.garage) }}
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        {{ form_label(editForm.oppervlakte, null, {'label_attr': {'class': 'control-label'}}) }} 
                        
                        <div class="controls">
                            {{ form_widget(editForm.oppervlakte,{ 'attr': {'placeholder': 'Oppervlakte'} }) }}
                            {{ form_errors(editForm.oppervlakte) }}
                        </div>
                    </div>
                    <ul class="pager">
                        <li><a class="prev" href="#">Previous</a></li>
                        <li><a class="next" href="#">Next</a></li>
                    </ul>
                </fieldset>
                </div>
                <div class="tab-pane fade" id="3">
                <fieldset>
                    <legend>Aanbod:</legend>
                    <div class="control-group">
                        {{ form_label(editForm.status_vastgoed, null, {'label_attr': {'class': 'control-label'}}) }} 

                        <div class="controls">
                            {{ form_widget(editForm.status_vastgoed) }}
                            {{ form_errors(editForm.status_vastgoed) }}
                        </div>
                    </div>
                    <div class="control-group">
                        {{ form_label(editForm.prijs, null, {'label_attr': {'class': 'control-label'}}) }} 

                        <div class="controls">
                            {{ form_widget(editForm.prijs,{ 'attr': {'placeholder': 'Prijs'} }) }}
                            {{ form_errors(editForm.prijs) }}
                        </div>
                    </div>
                      <ul class="pager">
                          <li><a class="prev" href="#">Previous</a></li>
                          <li><a class="next" href="#">Next</a></li>
                      </ul>
                  </fieldset>
                        
                </div>
                <div class="tab-pane fade" id="4">
                    <fieldset>
                        <legend>Beschrijving:</legend>

                        {{ form_widget(editForm.beschrijving,{ 'attr': { 'class': 'tinymce' } }) }}
                        {{ form_errors(editForm.beschrijving) }}

                        <ul class="pager">
                            <li><a class="prev" href="#">Previous</a></li>
                            <li><a class="next" href="#">Next</a></li>
                        </ul>
                    </fieldset>
                </div>
                <div class="tab-pane fade" id="5">
                <fieldset>
                    <legend>Afbeeldingen:</legend>
                    <h5>Afbeeldingen Toevoegen</h5>
                    <p class="muted">Enkel *.jpg files</p>
                    <input name="filesToUpload[]" id="filesToUpload" accept="image/jpeg" type="file" multiple="" />
                    
                    
                    {% if images %}
                        <h5>Selecteer de afbeeldingen die u wilt Verwijderen</h5>
                        <div id="imageContainer" class="clearfix">
                            {% for key, image in images %}
                                <div class="img-polaroid image">
                                    
                                    <label for="editForm_delete_images_{{ key }}"><img alt="{{ image }}" title="{{ image }}" src="{{ app.request.baseUrl }}/uploads/{{ vastgoed_id }}/{{ image }}" /></label>
                                    {{ form_widget(editForm.delete_images[key],{ 'attr': { 'class': 'checkbox' } }) }}
                                </div>
                            {% endfor %}
                        </div> 
                    {% endif %}
                    <ul class="pager">
                        <li><a class="prev" href="#">Previous</a></li>
                    </ul>
                    {{ form_widget(editForm._token) }}
                        

                </fieldset>
              </div>
            </div>
          </div>
        </form>
{% endblock %}
