{% extends 'adminLayout.twig'%}
{% set pageTitle = 'Immo - Profiel aanpassen' %}
{% set username = username %}
{% block pageContent%}

        <h2>Profiel aanpassen</h2>
        <ul class="breadcrumb">
            <li><a href="{{ app.url_generator.generate('adm.browse') }}">Overzicht</a> <span class="divider">/</span></li>
            <li class="active">Profiel aanpassen</li>
        </ul>
        {% form_theme settingsForm with 'form_errors.twig' %}
        <form action="#" method="post" {{ form_enctype(settingsForm) }}>
            <div id="saveButtons">
                <button type="submit" name="Save" class="btn btn-large btn-success">
                    <i class="icon-white icon-ok"></i> Aanpassingen opslaan
                </button>
                <a href="{{ app.url_generator.generate('adm.browse') }}" class="btn btn-danger">
                    <i class="icon-white icon-remove"></i> Annuleren
                </a>
            </div>
            <dl> 
                <dt>
                    {{ form_label(settingsForm.naam_makelaar) }}
                </dt>
                <dd class="clearfix">
                    {{ form_widget(settingsForm.naam_makelaar) }}
                    {{ form_errors(settingsForm.naam_makelaar) }}
                </dd>
                <dt>
                    {{ form_label(settingsForm.contact_email) }}
                </dt>
                <dd class="clearfix">
                    {{ form_widget(settingsForm.contact_email) }}
                    {{ form_errors(settingsForm.contact_email) }}
                </dd>
                <dt>
                    {{ form_label(settingsForm.voornaam) }}
                </dt>
                <dd class="clearfix">
                    {{ form_widget(settingsForm.voornaam) }}
                    {{ form_errors(settingsForm.voornaam) }}
                </dd>
                <dt>
                    {{ form_label(settingsForm.achternaam) }}
                </dt>
                <dd class="clearfix">
                    {{ form_widget(settingsForm.achternaam) }}
                    {{ form_errors(settingsForm.achternaam) }}
                </dd>
                <dt>
                    {{ form_label(settingsForm.telefoon_nr) }}
                </dt>
                <dd class="clearfix">
                    {{ form_widget(settingsForm.telefoon_nr) }}
                    {{ form_errors(settingsForm.telefoon_nr) }}
                </dd>
                <dt>
                    {{ form_label(settingsForm.locatie) }}
                </dt>
                <dd class="clearfix">
                    {{ form_widget(settingsForm.locatie) }}
                    {{ form_errors(settingsForm.locatie) }}
                </dd>
                <dt>
                    {{ form_label(settingsForm.straat) }}
                </dt>
                <dd class="clearfix">
                    {{ form_widget(settingsForm.straat,{ 'attr': {'placeholder': 'Straat + nr'} }) }}
                    {{ form_errors(settingsForm.straat) }}
                </dd>
                <dt>
                    {{ form_label(settingsForm.provincie) }}
                </dt>
                <dd class="clearfix">
                    {{ form_widget(settingsForm.provincie) }}
                    {{ form_errors(settingsForm.provincie) }}
                </dd>
                <dt>
                        {{ form_label(settingsForm.logo) }}
                </dt>
                <dd class="clearfix">
                    {{ form_widget(settingsForm.logo) }}
                    {{ form_errors(settingsForm.logo) }}
                </dd>
                <dd class="clearfix">
                    <img class="profilePic" src="{{ app.request.baseUrl }}/files/images/{{ url }}" class="img-polaroid" />
                </dd>
                <dt>
                    {{ form_label(settingsForm.beschrijving) }}
                </dt>
                <dd class="clearfix">
                    {{ form_widget(settingsForm.beschrijving,{ 'attr': { 'class': 'tinymce' } }) }}
                    {{ form_errors(settingsForm.beschrijving) }}
                </dd>
            </dl>
            {{ form_widget(settingsForm._token) }}
            <div id="saveButtons">
                <button type="submit" name="Save" class="btn btn-large btn-success">
                    <i class="icon-white icon-ok"></i> Aanpassingen opslaan
                </button>
                <a href="{{ app.url_generator.generate('adm.browse') }}" class="btn btn-danger">
                    <i class="icon-white icon-remove"></i> Annuleren
                </a>
            </div>
        </form>

{% endblock %}