{% extends 'adminLayout.twig'%}
{% set pageTitle = 'Immo - Login' %}
{% set username = '' %}
{% block pageContent%}
 
        
    <form action="{{ path('auth.login') }}" method="post"  {{ form_enctype(loginform) }} class="form-signin">
        <h2 class="form-signin-heading">Aanmelden</h2>
        
        {% form_theme loginform with 'form_errors.twig' %}
        
            
            <div class="input-prepend">
                <span class="add-on"><i class="icon-envelope"></i></span>
                {{ form_widget(loginform.contact_email,{ 'attr': {'placeholder': 'Email adres','class': 'input-block-level inputIcon'} }) }}
            </div>
            {{ form_errors(loginform.contact_email) }}
            <div class="input-prepend">
                <span class="add-on"><i class="icon-lock"></i></span>
                {{ form_widget(loginform.password,{ 'attr': {'placeholder': 'Paswoord','class': 'input-block-level inputIcon'} }) }}
            </div>
            {{ form_errors(loginform.password) }}


            {{ form_widget(loginform._token) }}
        <button class="btn btn-large btn-primary" type="submit" name="submit">Aanmelden</button>
    
        <a href="{{ app.url_generator.generate('auth.register') }}">Registreer</a>
    </form>

{% endblock %}